
.about_description {
  font-family: 'CircularCHNStd';
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  padding: 2px;
  letter-spacing: 1.5px;
  text-transform: lowercase;
  line-height: 25px;
  }