.carousel {
  margin: 0 auto;
  width: 800px;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}

.carousel-control-prev {
  left: -10%;
}

.carousel-control-next {
  left: 95%;
}

#carousel-control-prev-ex {
  left: 15%;
}

#carousel-control-next-ex {
  left: 70%;
}