.carousel {
  margin: 0 auto;
  width: 800px;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}

.carousel-control-prev {
  left: -10%;
}

.carousel-control-next {
  left: 95%;
}

#carousel-control-prev-ex {
  left: 15%;
}

#carousel-control-next-ex {
  left: 70%;
}

.carousel-caption-exhibition {
  position: relative;
  right: auto;
  bottom: 0px;
  left: auto;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 0px;
  color: #000;
  text-align: center;
}