.carousel {
  margin: 0 auto;
  width: 800px;
}


.carousel-caption-exhibition {
  position: relative;
  right: auto;
  bottom: 0px;
  left: auto;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 0px;
  color: #000;
  text-align: center;
}