
<h1><%= @exhibition.name %></h1>

<div class="container">
  <div class="col-md-6 mb-md-2 p-md-4">
    <img src="..." class="w-100" alt="...">
  </div>
  
    <p>description</p>

    <a href="#" class="stretched-link">to the showrooms click here</a>
  </div>
</div>

<%= link_to  "delete" , exhibition_path(@exhibition) ,method: :delete, :class => "btn btn-primary" %>

