
<h1><%= @exhibition.name %></h1>

<div class="container">
<div class="container-sm">100% wide until small breakpoint</div>
  <div class="col-md-6 mb-md-2 p-md-4">
    <img src="..." class="w-100" alt="...">
  </div>
  

<%= link_to  "create", exhibition_path(@exhibition), method: :create, :class => "btn btn-primary" %>
<%= link_to  "delete", exhibition_path(@exhibition), method: :delete, :class => "btn btn-primary" %>
<%= link_to  "edit", exhibition_path(@exhibition), method: :edit, :class => "btn btn-primary" %>
