<% content_for :meta_title, @galery.name %>

<div class="container">

  <%= simple_form_for(@showroom, url: exhibition_showrooms_path , method: :post) do |f| %>
  <h4> New Showroom </h4>
  <%= f.input :name %>
  <%= f.input :photo%>
  <%= f.submit 'Add', class: 'btn btn-light' %>
  <%end%>

</div>